.Ethvelope {
  text-align: center;
  position: relative;
}

.Ethvelope-image {
  width: 80%;
  height: 500px;
}

.Ethvelope-actions {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 90%;
	background-color: rgba(240,255, 153, 0.4);
	background-opacity: 0.2;
  padding: 5%;
}

.Ethvelope:hover .Ethvelope-actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Ethvelope-form {
	display: flex;
	align-content: baseline;
}
