[submodule "contracts/vendors/zeppelin-solidity"]
	path = contracts/vendors/zeppelin-solidity
	url = https://github.com/facuspagnuolo/zeppelin-solidity.git
[submodule "contracts/vendors/ethereum-string-utils"]
	path = contracts/vendors/ethereum-string-utils
	url = https://github.com/pipermerriam/ethereum-string-utils.git
