/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/** End Reset **/

body {
  margin: 0;
  padding: 0;
  font-family: "Proxima Nova", sans-serif;
}

h1 {
	font-size: 36px;
	font-weight: 600;
	line-height: 48px;
	margin-bottom: 10px;
}

h2 {
	font-size: 24px;
	font-weight: 600;
	line-height: 36px;
	margin-bottom: 10px;
}

h3 {
	font-size: 18px;
	font-weight: 600;
	line-height: 24px;
	margin-bottom: 10px;
}

h4 {
	font-size: 16px;
	font-weight: 600;
	line-height: 18px;
	margin-bottom: 10px;
}

p {
	color: #555;
	font-size: 16px;
	line-height: 18px;
	margin-bottom: 10px;
}

a, a:link {
	color: #FFEC38;
	text-decoration: underline;
}
a:hover, a:visited {
	color: #8C5B00;
}

button, a.btn {
	background-color: #F0FF99;	
	border-radius: 0px;	
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border: 0px;
	border-bottom: 3px solid #FFEC38;
	box-shadow: none;
	color: #8C5B00;
	font-weight: 600;
	padding: 10px;
	margin-top: 10px;
}

button.btn__md, a.btn__md {
	border-bottom: 5px solid #FFEC38;
	font-size: 18px;
	font-weight: 600;
	padding: 15px;
}

button.btn__fullwidth, a.btn__fullwidth {
	border-bottom: 5px solid #FFEC38;
	width: 100%;
}

button:hover, a.btn:hover {
	cursor: pointer;
}

button:hover, a.btn:hover {
	background-color: #FFEC38;
}

label {
	font-weight: 400;
	text-transform: uppercase;
	font-size: 12px;
}

input {
	background-color: transparent;
	box-shadow: none;
	border: none;
	border-bottom: 3px solid #888;
	font-size: 14px;
	padding: 10px;
}

input:focus {
	outline: none;
	border-bottom: 3px solid #FFEC38;
}

input.input__fullwidth {
	width: 100%;
}

strong {
	font-weight: 600;
}

code {
	font-family: Consolas, Courier;
}
